@charset "utf-8";
/* CSS Document */



@font-face {
    font-family: 'Robotobold_condensed';
    src: url('../fonts/Roboto-BoldCond/roboto-boldcondensed-webfont.eot');
    src: url('../fonts/Roboto-BoldCond/roboto-boldcondensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-BoldCond/roboto-boldcondensed-webfont.woff2') format('woff2'),
         url('../fonts/Roboto-BoldCond/roboto-boldcondensed-webfont.woff') format('woff'),
         url('../fonts/Roboto-BoldCond/roboto-boldcondensed-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-BoldCond/roboto-boldcondensed-webfont.svg#robotobold_condensed') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotocondensed';
    src: url('../fonts/Roboto-Cond/roboto-condensed-webfont.eot');
    src: url('../fonts/Roboto-Cond/roboto-condensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Cond/roboto-condensed-webfont.woff2') format('woff2'),
         url('../fonts/Roboto-Cond/roboto-condensed-webfont.woff') format('woff'),
         url('../fonts/Roboto-Cond/roboto-condensed-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Cond/roboto-condensed-webfont.svg#robotocondensed') format('svg');
    font-weight: normal;
    font-style: normal;

}


body{
	background:url(../img/bg.jpg) no-repeat bottom; 
	font-family: Arial, Helvetica, sans-serif;
	font-weight:normal !important;
	background-size:cover;
	background-attachment:fixed;
/*	min-height:700px; */
	padding:0px;
	margin:0px;
	font-size:16px !important;
	text-decoration:none;
}

table{
	font-weight:lighter !important;
	font-stretch:normal;
	}

a{
	color:#948034;
	}

a:hover,
a:focus {
  text-decoration:none;
	cursor:pointer;
	color:#6B5F00;
}

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
	transition:all .2s;
}


h1 {
	font-size:1em !important;
	margin:0;
    margin-top: 5px;
}

h2 {
	font-size:1em !important;
}

label{
	margin-top:.5em;}

p, a, h1, h2, h3, h4, form {
	font-weight:normal !important;
}

p, form {
	color:#444;
	font-size:1em;
}


ul {
	margin:0 auto;
	list-style:none;
}

#checkMedalla input[type="checkbox"]{ display: none; }
 
#checkMedalla input[type="checkbox"] + label span{
    display: block;
    width: 74px;
    height: 113px;
	margin:.5em;
    background: url(../img/checkOffMedalla.png) no-repeat;
    cursor:pointer;
	direction: rtl;
	unicode-bidi: bidi-override;
}

#checkMedalla input[type="checkbox"]:checked + label span{
    background: url(../img/checkOnMedalla.png) no-repeat;
}


#checkCuadro input[type="checkbox"]{ display: none; }
 
#checkCuadro input[type="checkbox"] + label span{
    display: block;
    width: 20px;
    height: 20px;
	margin:0;
    background: url(../img/checkOffCuadro.png) no-repeat;
    cursor:pointer;
	direction: rtl;
	unicode-bidi: bidi-override;
}

#checkCuadro input[type="checkbox"]:checked + label span{
    background: url(../img/checkOnCuadro.png) no-repeat;
}





#checkCirculo input[type="checkbox"]{ display: none; }
 
#checkCirculo input[type="checkbox"] + label span{
    display: block;
    width: 20px;
    height: 20px;
	margin:0;
    background: url(../img/checkOffCirculo.png) no-repeat;
    cursor:pointer;
	direction: rtl;
	unicode-bidi: bidi-override;
}

#checkCirculo input[type="checkbox"]:checked + label span{
    background: url(../img/checkOnCirculo.png) no-repeat;
}



#main {
	padding-top:4em;
	padding-bottom:2em;
	}

#main form {
	text -align:right;	
	}

 
.bg-azul{
	background:#004990;
}
	
.bg-blanco{
	background:#FFF;
}

.bg-dorado{
	background:#948034;
}


.bg-gris{
	background:#999;
}

.bg-gris-claro{
	background:#EEE ;
}

.bg-mapa{
	overflow:scroll;
	height:500px;
	}
	
.bg-negro{
	background:#000 !important;
}

.btn-azul{
	background:#005EA1;
	background: #fcfcfc -moz-linear-gradient(top, #0097D7 0%, #005EA1 100%); /* FF3.6+ */
    background:#fcfcfc -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0097D7), color-stop(100%,#005EA1)); /* Chrome,Safari4+ */
    background:#fcfcfc -webkit-linear-gradient(top, #0097D7 0%, #005EA1 100%); /* Chrome10+,Safari5.1+ */
    background:#fcfcfc -o-linear-gradient(top, #0097D7 0%, #005EA1 100%); /* Opera11.10+ */
    background:#fcfcfc -ms-linear-gradient(top, #0097D7 0%, #005EA1 100%); /* IE10+ */
    background:#fcfcfc linear-gradient(top, #0097D7 0%, #005EA1 100%);
	border-radius:.3em;
	color:#fff;
	font-fa mily:'MyriadPro-Cond';
	font-size:1.1em;
	width:80%;
	padding:.7em;
	margin:1em;
	height:auto;
	text-align:center;
	transition: all .2s;
	border:none;
	}

	
.btn-azul:hover{
	background:#00285e;
	background:#fcfcfc -moz-linear-gradient(top, #00285e 0%, #334a95 100%); /* FF3.6+ */
    background:#fcfcfc -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eec025), color-stop(100%,#334a95)); /* Chrome,Safari4+ */
    background:#fcfcfc -webkit-linear-gradient(top, #00285e 0%, #334a95 100%); /* Chrome10+,Safari5.1+ */
    background:#fcfcfc -o-linear-gradient(top, #00285e 0%, #334a95 100%); /* Opera11.10+ */
    background:#fcfcfc -ms-linear-gradient(top, #00285e 0%, #334a95 100%); /* IE10+ */
    background:#fcfcfc linear-gradient(top, #00285e 0%, #334a95 100%);
	color:#fff;
	cursor:pointer;
	}

.btn-deshabilitado{
	background:#CCC;
	border-radius:.3em;
	color:#fff;
	font-fa mily:'MyriadPro-Cond';
	font-size:1.1em;
	width:80%;
	padding:1em;
	margin:1em;
	height:auto;
	text-align:center;
	transition: all .2s;
	border:none;
	}

	
.btn-deshabilitado:hover{
	background:#999;
	color:#fff;
	cursor:pointer;
	}


.btn-dorado {
    -moz-user-select: none;
	background:#948034;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
	color:#FFF;
    cursor: pointer;
    display: inline-block;
    font-size:  1em;
    font-weight: normal;
    line-height: 1.42857;
    margin:2em 1em;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.btn-dorado:hover {
    -moz-user-select: none;
	background:#6B5F00;
	color:#FFF;
}

.box-shadow{
	box-shadow:0px 0px 5px rgba(68,68,68,0.6);
	}

.img-circle{
	cursor:pointer;
	}


.btn-regresar a, .btn-regresar a:hover, .btn-regresar a:focus
{
	color:#FFF !important;
	font-size:1.5em;
	}



.bullet {
    font-family:'Robotobold_condensed' !important ;
	font-size:1.5em !important;
	marg in:0 !important;
}

.bullet-grande {
    font-family:'Robotobold_condensed' !important ;
	font-size:3em !important;
	marg in:0 !important;
}





.form-group input, .form-group textarea, .form-group button {
	margin:.5em;
}


.forma-circulo-chico{
	border-radius:100%;
	width:4em;
	height:4em;
	padding:1em
	}

.imgCatego
{
	width:100%;
	height:400px;
	overflow:hidden;
	margin:.5em 0 0;
	cursor:pointer;
	}

.imgCatego img
{
	width:100%;
	}

	
.img-pedido{
	width:30%;
	vertical-align:top;
	}

.img-pedido img{
	width:100%;
	}
	

.imgPromos
{
	width:70%;
	background-size:100%;
	margin:1em;
	cursor:pointer;
    height: 160px;
	}

.imgPromos img
{
	width:100%;
	border-radius:10px;
	}

.img-perfil{
	width:300px;
	}
	
.img-perfil img{
	width:100%;
	}
	
.inline{
	display:inline-block;
	}

.input-sencillo{
	width:100%;
	border:none;
	border-bottom:1px solid;
	margin:2em 0;
	}

.height-100{
	height:100%;
	}

.select-sencillo{
	width:100%;
	border:none;
	border-bottom:1px solid;
	margin:2em 0;
	background:none;
	
	}

.margin-centro
{
	margin:1em auto;
	}
	
.margin-chico
{
	margin:.5em;
	}

.marging-espacio{
	margin:5%;
	}

.marging-espacio-doble{
	margin:3em;
	}

.margin-no-espacios{
	margin:auto -15px;
	}
	
.margin-vertical-1em{
	margin-top:1em;
	margin-bottom:1em;
	}
	
.margin-horizontal-1em{
	margin-left:1em;
	margin-rigth:1em;
	}

.menu-lateral-left{
	width:80%;
	height:100%;
	position:fixed;
	left:0;
	z-index:20;
	box-shadow:1px 1px 5px #666;
	}
.menu-lateral-left2{
	height:100%;
	left:0;
	z-index:20;
	box-shadow:1px 1px 5px #666;
	}

.menu-lateral-left li,.menu-lateral-left2 li{
	height:2.5em;
	padding:.5em;
	border-bottom:solid #CCC .5px;
	}

.menu-general{
	width:auto;
	}

.menu-general li{
	height:auto;
	padding:.5em;
	border-bottom:solid #CCC .5px;
	}

.menu-lateral-right{
	width:80%;
	height:100%;
	position:fixed;
	right:0;
	z-index:20;
	box-shadow:1px 1px 5px #666;
	}

.menu-lateral-right li{
	height:2.5em;
	padding:.5em;
	border-bottom:solid #CCC .5px;
	}


.padding-0{
	padding:0;
}

.padding-1em
{
	padding:1em;
	}

.nav-inf{
	padding:0 .5em;
	height:2em;
	position:fixed;
	bottom:0;
	width:100%;
	z-inde:10;
	}

.nav-sup{
	padding:.5em;
	height:3em;
	position:fixed;
	top:0;
	width:100%;
	z-index:10;
	}
	
.opacididad{
	opacity:.25;

	}

.qrCode{
	width:40%;
	}

.qrCode img{
	width:100%;
	}

	
.separacion-vertical{
	background:#CCC;
	width:2px;
	height:100%;
	margin:1em;
	vertical-align:middle;
	}
	
.separacion-vertical img{
	background:#CCC;
	width:100%;
}

.sombra{
	width:100%;
	background: #066;
	background-size:100%;
	margin-bottom:1em;
	padding:0;
	position:relative;
	}
	
.sombra img
{
	width:100%;
	position:absolute;
	top:0;
	left:0;
	}

.text-azul{
	color:#004990;
}


.text-dorado{
	color:#948034;
}

.text-blanco{
	color:#FFF;
}

.text-blanco a{
	color:#FFF;
}

.text-blanco a:hover{
	color:#CCC;
}
.text-gris{
	color:#666 !important;
}

.text-grande{
	font-size:3em !important;
	font-weight:bolder;
	}

.valing-baseline{
	vertical-align:bottom;
	}

.valing-middle{
	vertical-align:middle;
	}
	
.ventana
{
	width:100%;
	background:#FFF;
	padding:2em;
	text-align:center;
	border-radius:5px;
	box-shadow:1px 1px 5px #666;
	font-size:1em;
	}


	
	
	.ventana-comunidad{
	width:100%;
	background:#FFF url(../img/bgComunidad.png) no-repeat bottom;
	padding:2em;
	text-align:center;
	border-radius:5px;
	box-shadow:1px 1px 5px #666;
	bottom:0em;
	background-size:100%;

	}

.width20{
	width:20%;
	}

.width30{
	width:30%;
	}
	
.width40{
	width:40%;
}

@media screen and (min-width:1220px ) {

.btn-icon{
	width:15%;
	margin:1em;
	}

.imgPromos
{
	width:250px;
	margin:.5em;
	}
	

.btn-azul{
	
	width:20%;
	padding:1em;
	margin:1em;
	}


.qrCode{
	width:200px;
	}

.ventana
{
	width:50%;
}

.ventana-comunidad
{
	width:50%;
}


	
}




@media (min-width: 992px) and (max-width: 1219px) {

.btn-icon{
	width:20%;
	margin:1em;
	}

.bg-comunidad{
	background:none;
	position:relative;
	bottom:-3em;
	}
	

.imgPromos
{
	width:250px;
	margin:.5em;
	}

.btn-azul{
	
	width:30%;
	padding:1em;
	margin:1em auto;
	}

.qrCode{
	width:200px;
	}

.imgCatego
{
	width:100%;
	height:300px;
	}

.img-perfil{
	width:200px;
	}

.ventana
{
	width:50%;
}

.ventana-comunidad
{
	width:50%;
}

	
}


@media (min-width: 720px) and (max-width: 991px) {

.bg-comunidad{
	background:none;
	position:relative;
	bottom:-3em;
	}
	
	.imgPromos
{
	width:250px;
	margin:.5em;
	}

.qrCode{
	width:30%;
	}

.imgCatego
{
	width:100%;
	height:300px;
	}

.img-perfil{
	width:200px;
	}

.ventana
{
	width:50%;
}

.ventana-comunidad
{
	width:50%;
}


}

/*---------------------------------------------------------------------------------------------------------------------------*/
@media (min-width: 481px) and (max-width: 719px) {  
.btn-icon{
	width:50%;
	}

.qrCode{
	width:40%;
	}

.imgCatego
{
	width:100%;
	height:300px;
	}

.img-perfil{
	width:200px;
	}
	
.imgPromos
{
	width:70%;
	}


}


/*---------------------------------------------------------------------------------------------------------------------------*/
@media (min-width: 321px) and (max-width: 480px) {  


.btn-icon{
	width:50%;
	}

.qrCode{
	width:40%;
	}

.imgCatego
{
	width:100%;
	height:200px;
	}

.img-perfil{
	width:200px;
	}

.imgPromos
{
	width:130px;
	}

.grafica-linea{
    width: 100%;
    }

}

/*---------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 320px) {

.btn-icon{
	width:50%;
	}

.qrCode{
	width:40%;
	}

.imgCatego
{
	width:100%;
	height:200px;
	}

.img-perfil{
	width:100px;
	}
	
}




.splash{
    background:url(../img/bg_splash.jpg) no-repeat top fixed; 
    background-size:cover; 
}

.espacio-debajo{
    margin-bottom: 30px;
}

.margen-renglon
{
    margin-bottom: 1em;
}

#mapa{
    width: 100%;
    height: 100%;
}
